<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProjectUdiTal.Properties.Settings.scheduleConnectionString" connectionString="server=sql2.freemysqlhosting.net;User Id=sql217024;Persist Security Info=True;password=bL9*yK9*;database=sql217024" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
